@page
@model IndexModel
@{
    ViewData["Title"] = "Aqua Track";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Aqua Track</h1>
    <h2>Seu sistema de leituras de consumo de áqua.</h2>
    <p>Deseja entrar? </p>
    <p><a href="http://localhost:5155/Leituras">Menu de Leituras</a></p>
</div>
