@page
@model IndexModel
@{
    ViewData["Title"] = "Aqua Track";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Aqua Track</h1>
    <h2>Seu sistema de leituras de consumo de água.</h2>
    <h4 >Deseja entrar? </h4>
    <p><a href="http://localhost:5155/Leituras" button type="button" class="btn btn-primary">Entrar no Menu de leituras</a></p>
</div>
